<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-input label="Nombre" labelPlacement="start" formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <app-alumno-selectable
      formControlName="alumnoId">
    </app-alumno-selectable>
  </form>

  <ion-buttons>
    <ion-button color="primary" fill="clear" (click)="onCancel()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" fill="clear" (click)="onDelete()">
      <ion-icon slot="icon-only" name="trash-outline"/>
    </ion-button>
    <ion-button type="submit" [disabled]="!form.valid || !form.dirty" class="ion-padding" expand="full" (click)="onSubmit()">Guardar</ion-button>
  </ion-buttons>
</div>
