<ion-content [fullscreen]="true" id="general">
  <table>
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Fecha-Nacimiento</th>
        <th>Email</th>
        <th>Acciones</th>
        <th id="icono">
          <ion-button fill="clear" (click)="crearAlumno()">
            <ion-icon slot="icon-only" color="primary" name="person-add-outline" aria-hidden="true"></ion-icon>
          </ion-button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alum of alumnosSvc.alumnos$ | async">
        <td>
          <app-alumno
          [foto]="alum.foto?.url_small">
          </app-alumno>
        </td>
        <td>
          <app-alumno 
          [nombre]="alum.nombre">
          </app-alumno>
        </td>
        <td>
          <app-alumno 
          [fechaNacimiento]="alum.fechaNacimiento">
          </app-alumno>
        </td>
        <td>
          <app-alumno 
          [email]="alum.email">
          </app-alumno>
        </td>
        <td>
          <ion-button fill="clear" (click)="editarAlumno(alum.id)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="eliminarAlumno(alum)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
