<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (key.enter)="onSubmit()">
  <ion-item>
    <ion-input labelPlacement="stacked" label="username" formControlName="username" type="text"></ion-input>
    <ion-icon *ngIf="hasTouched('username') && hasError('username')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('username') && !hasError('username')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="email" formControlName="email" type="text"></ion-input>
    <ion-icon *ngIf="hasTouched('email') && hasError('email')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('email') && !hasError('email')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Contraseña" formControlName="password" type="password"></ion-input>
    <ion-icon *ngIf="hasTouched('password') && hasError('password')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('password') && !hasError('password')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <p class="error-message" *ngIf="hasTouched('password') && hasError('password')">Debe tener 8 caracteres, mínimo un número y una mayúscula</p>  
  <ion-item>
    <ion-input labelPlacement="stacked" label="confirmacion" formControlName="confirm" type="password"></ion-input>
    <ion-icon *ngIf="hasTouched('confirm') && hasError('confirm')" color="danger" slot="end" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="hasTouched('confirm') && !hasError('confirm')" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
  </ion-item>
  <p class="error-message" *ngIf="hasTouched('confirm') && hasError('confirm')">Deben coincidir las contraseñas</p>  
  <div class="ion-text-end">
    <ion-button style="text-transform: none;" [disabled]="!form.valid" (click)="onSubmit()">{{"login.noAccount" | translate}}</ion-button>
  </div>
</form>