<!--<ion-header>
  <ion-toolbar>
    <ion-title>{{ esNuevaNota ? 'Nueva Nota' : 'Editar Nota' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <form [formGroup]="notaForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Calificación <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="calificacion" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="fecha" type="date" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asignatura <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="asignatura" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!notaForm.valid">Guardar</ion-button>
    </div>
  </form>
</ion-content>