ion-card {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
ion-card-title {
    font-size: 1.5em;
}
  
ion-item {
    --ion-background-color: transparent;
}
  
ion-item a {
    color: #3880ff;
    text-decoration: none;
}
  
ion-item a:hover {
    text-decoration: underline;
}

.mi-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
  
.mi-image {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}