<ion-content class="ion-padding ion-text-center">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Información de la Aplicación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ¡Bienvenido a mi aplicación! <strong>Edutrack</strong> es una aplicación de gestión de estudiantes que te permite manejar los alumnos de una clase de manera eficiente. Con Edutrack, puedes mover las mesas y asignar a un alumno a cada mesa. Además, puedes crear y eliminar mesas, lo que te permite tener un control total sobre la disposición de la clase. Edutrack también te permite realizar operaciones CRUD en los alumnos y sus notas, lo que te permite mantener un registro detallado de su progreso académico.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-text-center">Información del Desarrollador</ion-card-title>
    <ion-card-content class="mi-info">
      <img src="assets/imgs/imageMia.jpg" alt="Foto del Desarrollador" class="mi-image">
      <div>
        <p>Esta aplicación ha sido desarrollada por mi <strong>Pablo García Muñoz</strong>, soy un joven de 19 años, nacido en España. Soy una persona amable y trabajadora, siempre dispuesto a ayudar a los demás. Me encanta pasar tiempo con mis amigos y familiares, y disfrutar de la música y los deportes. Me apasiona 
        aprender cosas nuevas. En mi tiempo libre, me gusta leer y ver películas. Soy una persona muy sociable y me gusta estar rodeado de gente que quiero.</p>
        <br>
        <p>Puedes conocer más sobre mi en los siguientes enlaces:</p>
        <ion-list lines="none">
          <ion-item class="social-item">
            <ion-icon name="logo-github" slot="start"></ion-icon>
            <ion-label><a href="https://github.com/PabloGM1204" target="_blank">GitHub</a></ion-label>
          </ion-item>
          
          <ion-item class="social-item">
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label><a href="https://instagram.com/mr__sockss/" target="_blank">Instagram</a></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
