<ion-content [fullscreen]="false">

  <!--Boton para poner las mesas en 250, 250 en caso de perderlas de vista
  <ion-button fill="clear" aria-label="Recargar Posicion" (click)="recargarMesas()">
    <ion-icon slot="icon-only" color="primary" name="reload-outline" aria-hidden="true"></ion-icon>
  </ion-button>-->

  <!--Botón para crear una nueva mesa-->
  <ion-button fill="clear" aria-label="Recargar Posicion" (click)="crearMesa()" id="crear">
    <ion-icon slot="icon-only" color="primary" name="add-outline" aria-hidden="true"></ion-icon>
  </ion-button>

  <!--TODO:zona de eliminación de mesas-->
  
  <div>
    <ng-container >
      <div class="mesas">
        <app-mesa *ngFor="let mesa of mesas$ | async" 
        [mesa]="mesa"
        (mesaClicked)="mesaClick(mesa)"></app-mesa>
      </div>
    </ng-container>
  </div>

</ion-content>
