<ion-content *ngIf="notas.length === 0">
  <p>Niguna nota en este alumno</p>
  <ion-button (click)="anadirNota()">
    Nueva Nota
  </ion-button>
</ion-content>
<ion-content *ngIf="notas.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col class="column-header">Calificación</ion-col>
        <ion-col class="column-header">Fecha</ion-col>
        <ion-col class="column-header">Asignatura</ion-col>
        <ion-col class="column-header">Descripción</ion-col>
        <ion-col class="column-header">Acciones</ion-col>
      </ion-row>
      <ion-row *ngFor="let nota of notas">
        <ion-col>{{ nota.calificacion }}</ion-col>
        <ion-col>{{ nota.fecha }}</ion-col>
        <ion-col>{{ nota.asignatura }}</ion-col>
        <ion-col>{{ nota.descripcion | truncamiento:30 }}</ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="editarNota(nota)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="eliminarNota(nota)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="anadirNota()">
      Nueva Nota
    </ion-button>
  </ion-content>